@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --color-dark: #141414;
    --black-transp-1: #0000008c;
    --black-transp-2: #000000a9;
    --black-transp-3: #777777a4;
}

html{
    font-family: 'Helvetica Neue', 'Segoe UI', Roboto, Ubuntu, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

body{
    font-size: 1.6rem;
    background-color: var(--color-dark);
    color: #fff;
}

p{
    padding: 2rem 0;
}

h2{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

i{
    font-size: 2rem;
}

a{
    color:#fff;
}

img{
    border-radius: 0.25rem;
}

.container{
    width: 93vw;
    margin: 0 auto;
}

.row{
    display: flex;
}

.col-6{
    width: 50%;
    position: relative;
}

.col-4{
    width: 33.3%;
}

.col-3{
    width: 25%;
}

.d-block{
    display: block !important;
}

.d-none{
    display: none !important;
}

.d-inline{
    display: inline !important;
}

.d-flex{
    display: flex !important;
}

.text-right{
    text-align: right;
}

.btn{
    font-family: 'Helvetica Neue', 'Segoe UI', Roboto, Ubuntu, sans-serif;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    outline: none;
    border: none;
    margin-right: 1rem;
}

.btn:hover{
    opacity: 0.8;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

.btn-light{
    color: #000;
    background-color: #fff;
}

.btn-dark{
    color: #fff;
    background-color: var(--black-transp-3);
}

header{
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    background: linear-gradient(180deg,  var(--color-dark),  rgba(0, 0, 0, 0));
    transition: background 1s ease;
}

.header-scrolled{
    background-color: var(--color-dark);
    transition: background .5s ease;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

#menu{
    display: flex;
    align-items: center;
}

#menu{
    display: flex;
    align-items: center;
}

#menu h1 a{
    color: #ffffff00;
}

#menu h1 > a::after{
    content: '';
    display: block;
    width: 9.25rem;
    height: 2.5rem;
    background-image: url(../img/netflix-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.navegar{
    display: none;
    font-size: 1.3rem;
    position: relative;
}

.navegar::after{
    content: '';
    border-color: #fff transparent transparent;
    border-width: .4rem .4rem 0;
    border-style: solid;
    display: block;
    width: .1rem;
    height: auto;
    position: absolute;
    left: 6rem;
    top: .8rem;
}

.main-menu, .navegar{
    margin-left: 3rem;
}


.main-menu li{
    display: inline-block;
    margin-left: 1rem;
}

.main-menu li a{
    font-size: 1.3rem;
    color: #fff;
}

#search-account{
    display: flex;
    align-items: center;
    margin-right: 4rem;
}

#search-account > div{
    margin-left: 2.5rem;
}

#search-account > div:hover{
    cursor: pointer;
}

.input-search{
    display: none;
}

#account{
    position: relative;
}

#account::after{
    content: '';
    border-color: #fff transparent transparent;
    border-width: .4rem .4rem 0;
    border-style: solid;
    display: block;
    width: .1rem;
    height: auto;
    position: absolute;
    left: 4.5rem;
    top: 1.2rem;
    transform-origin: center;
    transition: transform .3s ease-in-out;
}

#account:hover::after{
    transform: rotate(180deg);
}

#account-menu{
    display: none;
    background-color: var(--color-dark);
    border: 1px solid #ffffff27;
    padding: 2rem 1rem 1rem;
    position: absolute;
    right: -3rem;
    top: 5rem;
    min-width: 20rem;
    transition: display 2s ease-in-out;
}

#account-menu li{
    padding-bottom: .5rem;
    display: flex;
    align-items: center;
}

#account-menu a{
    font-size: 1.2rem;
    margin-left: 1rem;
}

#account-menu li:last-child a{
    margin-left: 0;
}

#account-menu i{
    font-size: 2.2rem;
    color: #ffffff50;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#account-menu::before{
    content: '';
    border-color: #fff transparent transparent;
    border-width: .4rem .4rem 0;
    border-style: solid;
    display: block;
    width: .1rem;
    height: auto;
    position: absolute;
    right: 4rem;
    top: -1.5rem;
    padding-top: 1rem;
    transform: rotateX(180deg);
}

#account-menu i{
    font-size: 2.2rem;
    color: #ffffff50;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#account-menu li:last-child{
    border-top: 1px solid #ffffff27;
    justify-content: center;
    padding-top: 1rem;
}

#account:hover #account-menu{
    display: block;
}

.trailer{
    background-color: var(--color-dark);
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    margin: -4% auto -8%;
}


.cover{
    background-color: var(--color-dark);
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    margin: -4% auto -8%;
}

.cover img{
    width: 100%;
    margin: 0 auto;
}

.shadow{
    background: linear-gradient(0, var(--color-dark) 0%, #00000000 50%);
    height: 50%;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.container-hero{
    position: absolute;
    z-index: 9;
    bottom: 25vh;
    left: 3%;
    width: 93%;
}

#hero .hero-container a{
    display: inline-block;
}

#hero .hero-container i{
    margin-right: 1rem;
}

#hero .hero-container button{
    display: flex;
    justify-items: center;
}

#hero .trailer-hide{
    opacity: 0;
    transition: opacity 1s ease;
}

#hero h2{
    margin-bottom: 0;
}

#hero .title-hero-start{
    font-size: 12rem;
    animation: title-hero 1s ease-in-out 5s;
}

#hero .title-hero-end{
    font-size: 5rem;
    transform: translate3d(0, 6rem, 0);
}

#hero .sinopese{
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    animation: p-hero 1s ease-in-out 5s;
    padding: 0 0 1rem;
}

#hero .p-hero-end{
    transform: translate3d(0, 6rem, 0);
    transform-origin: left;
    visibility: hidden;
}

#replay-parental{
    position: absolute;
    bottom: 0;
    right: -6rem;
    display: flex;
}

#replay-parental p{
    padding: 0 6rem .0 .7rem;
    background-color: var(--black-transp-1);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    border-left: 3px solid #fff;
}

#replay-parental span{
    padding: .5rem;
    margin-left: .5rem;
    border-radius: .25rem;
    background-color: red;
}

#replay-parental button{
    margin-right: 2rem;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

#replay-parental .replay{
    display: none;
}

#replay-parental button i{
    padding: 1rem;
    border-radius: 50%;
    color: #fff;
    border: 1px double #fff;
    cursor: pointer;
    font-size: 1.2rem;
}

#replay-parental i:hover{
    background-color: #ffffff27;
    transition: all .3s ease;
}

@keyframes title-hero {
    100%{
        font-size: 5rem;
        transform: translate3d(0, 6rem, 0);
    }
}

@keyframes p-hero {
    100%{
        transform: translate3d(0, 6rem, 0);
        transform-origin: left;
        opacity: 0;
    }
}

.sec-slider{
    margin-bottom: 4rem;
}

.filmes{
    position: relative;
    z-index: 3;
    margin-top: -13rem;
    padding-top: 5rem;
    background: linear-gradient(0, var(--color-dark), #00000000);
    width: 100%;
}

.slider-wrapper{
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider{
    display: inline-flex;
    margin-left: 3vw;
}

.filmes-slider{
    width: 18.1vw;
    margin-right: .7rem;
}

.filmes-slider img:hover{
    opacity: .5;
}

.filmes-slider img{
    width: 100%;
}

.controllers{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.controllers button{
    height: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 0 1.5rem;
    opacity: .8;
}

.controllers button:hover{
    cursor: pointer;
}

.controllers button.previous{
    display: none;
    position: absolute;
    left: 0;
    background: linear-gradient(90deg, var(--color-dark), #00000000);
}

.controllers button.next{
    position: absolute;
    right: 0;
    background: linear-gradient(270deg, var(--color-dark), #00000000);
}

.controllers button i{
    color: transparent;
    font-size: 3rem;
    transform: scaleY(1.5);
    transition: color .3s ease;
}

.controllers button i:hover{
    transform: scale3d(1.5, 2.5, .1);
    transition: transform .3s ease;
}

.slider-wrapper:hover .controllers button i{
    color: #fff;
}

.slider-indicators li{
    display: inline-flex;
}

.slider-indicators li::before{
    content: '';
    width: 1.5rem;
    height: .3rem;
    display: block;
    margin-left: 0.3rem;    
}

.sec-slider:hover li::before{ 
    background-color: #ffffff27;
    transition: background .3s ease;
}

.sec-slider:hover li.active::before{ 
    background-color: #ffffff50;
}

.sec-slider .slider .item{ 
    display: flex;
    transition: all .5s ease;
}

footer{
    margin: 13rem auto 3rem;
    width: 75%;
}

footer .social-media{
    display: flex;
}

footer .social-media li{
    margin-right: 3rem;
}

footer .menu-footer li{
    margin-top: 1.5rem;
}

footer .menu-footer a{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

footer .menu-footer a:hover{
    text-decoration: underline;
}

footer .disclaimer{
    margin-top: 5rem;
    font-size: 1.5rem;
    color: gray;
}

@media (max-width: 580px) {
    html{
        font-size: .5rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    p {
        padding: 1rem 0;
        font-size: 1.3rem;
    }

    .col-4 {
        width: 100%;
    }
    
    .col-3 {
        width: 50%;
    }

    
    .btn {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }
    
    .navegar{
        display: block;
        cursor: pointer;
    }

    .main-menu{
        display: none;
        flex-direction: column;
        text-align: center;
        width: 30rem;
        z-index: 2;
        position: absolute;
        top: 8rem;
        border-top: 1px solid #fff;
        transition: all 3s ease 3s;
    }

    .main-menu li{
        padding: 1rem;
        margin-left: 0;
        background-color: var(--black-transp-2);
    }

    .main-menu li:hover{
        background-color: var(--black-transp-1);
        cursor: pointer;
    }
    
    .main-menu li a{
        font-size: 1.15rem;
        color: #fff;
    }

    .main-menu::before{
        content: '';
        border-color: #fff transparent transparent;
        border-width: .4rem .4rem 0;
        border-style: solid;
        display: block;
        width: .1rem;
        height: auto;
        position: absolute;
        left: 14.5rem;
        top: -1.5rem;
        padding-top: 1rem;
        transform: rotateX(180deg);
    }

    #hero .hero-container a{
        display: inline-block;
    }

    #hero .container-hero{
        position: absolute;
        z-index: 9;
        bottom: 0;
        left: 3%;
        width: 93%;
    }
    
    #hero .hero-container i{
        margin-right: 1rem;
    }
    
    #hero .hero-container button{
        display: flex;
        justify-items: center;
        align-items: center;
    }
    
    #hero .trailer-hide{
        opacity: 0;
        transition: opacity 1s ease;
    }
    
    #hero h2{
        margin-bottom: 0;
    }
    
    #hero .title-hero-start{
        font-size: 5rem;
        animation: title-hero 1s ease-in-out 5s;
    }
    
    #hero .title-hero-end{
        font-size: 3rem;
        transform: translate3d(0, -1rem, 0);
    }
    
    #hero .sinopese{
        display: none;
        font-family: Arial, Helvetica, sans-serif;
        opacity: 1;
        animation: p-hero 1s ease-in-out 5s;
        padding: 0 0 1rem;
    }
    
    #hero .p-hero-end{
        transform: translate3d(0, 6rem, 0);
        transform-origin: left;
        visibility: hidden;
    }
    
    #replay-parental{
        position: absolute;
        bottom: 0;
        right: -6rem;
        display: flex;
    }
    
    #replay-parental p{
        padding: 0 6rem .0 .7rem;
        background-color: var(--black-transp-1);
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        border-left: 3px solid #fff;
    }
    
    #replay-parental span{
        padding: .5rem;
        margin-left: .5rem;
        border-radius: .25rem;
        background-color: red;
    }
    
    #replay-parental button{
        margin-right: 2rem;
        background-color: transparent;
        cursor: pointer;
        border: 0;
    }
    
    #replay-parental .replay{
        display: none;
    }
    
    #replay-parental button i{
        padding: 1rem;
        border-radius: 50%;
        color: #fff;
        border: 1px double #fff;
        cursor: pointer;
        font-size: 1.2rem;
    }
    
    #replay-parental i:hover{
        background-color: #ffffff27;
        transition: all .3s ease;
    }

    .filmes {
        margin-top: 4rem;
        padding-top: 2rem;
    }

    .slider {
        display: inline-flex;
        margin-left: 2vw;
    }

    .filmes-slider{
        width: 45.35vw;
    }

    .controllers button i {
        font-size: 1.5rem;
    }

    footer{
        margin: 13rem auto 3rem;
        width: 93%;
    }

    footer .menu-footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    footer .social-media i{
        font-size: 2.5rem;
    }

    footer .menu-footer a {
        font-size: 1.6rem;
    }


    @keyframes title-hero {
        100%{
            font-size: 3rem;
            transform: translate3d(0, -1rem, 0);
        }
    }

    @keyframes p-hero {
        100%{
            transform: translate3d(0, 6rem, 0);
            transform-origin: left;
            opacity: 0;
        }
    }

}

@media (min-width: 581px) and (max-width: 800px){

    html{
        font-size: .5rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    p {
        padding: 1rem 0;
        font-size: 1.3rem;
    }

    .col-4 {
        width: 100%;
    }
    
    .col-3 {
        width: 50%;
    }

    
    .btn {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }
    
    .navegar{
        display: block;
        cursor: pointer;
    }

    .main-menu{
        display: none;
        flex-direction: column;
        text-align: center;
        width: 30rem;
        z-index: 2;
        position: absolute;
        top: 8rem;
        border-top: 1px solid #fff;
        transition: all 3s ease 3s;
    }

    .main-menu li{
        padding: 1rem;
        margin-left: 0;
        background-color: var(--black-transp-2);
    }

    .main-menu li:hover{
        background-color: var(--black-transp-1);
        cursor: pointer;
    }
    
    .main-menu li a{
        font-size: 1.15rem;
        color: #fff;
    }

    .main-menu::before{
        content: '';
        border-color: #fff transparent transparent;
        border-width: .4rem .4rem 0;
        border-style: solid;
        display: block;
        width: .1rem;
        height: auto;
        position: absolute;
        left: 14.5rem;
        top: -1.5rem;
        padding-top: 1rem;
        transform: rotateX(180deg);
    }

    #hero .hero-container a{
        display: inline-block;
    }

    #hero .container-hero{
        position: absolute;
        z-index: 9;
        bottom: 5rem;
        left: 3%;
        width: 93%;
    }
    
    #hero .hero-container i{
        margin-right: 1rem;
    }
    
    #hero .hero-container button{
        display: flex;
        justify-items: center;
        align-items: center;
    }
    
    #hero .trailer-hide{
        opacity: 0;
        transition: opacity 1s ease;
    }
    
    #hero h2{
        margin-bottom: 0;
    }
    
    #hero .title-hero-start{
        font-size: 10rem;
        animation: title-hero 1s ease-in-out 5s;
    }
    
    #hero .title-hero-end{
        font-size: 5rem;
        transform: translate3d(0, 6rem, 0);
        margin-bottom: 3rem;
    }
    
    #hero .sinopese{
        font-family: Arial, Helvetica, sans-serif;
        opacity: 1;
        animation: p-hero 1s ease-in-out 5s;
        padding: 0 0 1rem;
    }
    
    #hero .p-hero-end{
        transform: translate3d(0, 6rem, 0);
        transform-origin: left;
        visibility: hidden;
    }
    
    #replay-parental{
        position: absolute;
        bottom: 0;
        right: -6rem;
        display: flex;
    }
    
    #replay-parental p{
        padding: 0 6rem .0 .7rem;
        background-color: var(--black-transp-1);
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        border-left: 3px solid #fff;
    }
    
    #replay-parental span{
        padding: .5rem;
        margin-left: .5rem;
        border-radius: .25rem;
        background-color: red;
    }
    
    #replay-parental button{
        margin-right: 2rem;
        background-color: transparent;
        cursor: pointer;
        border: 0;
    }
    
    #replay-parental .replay{
        display: none;
    }
    
    #replay-parental button i{
        padding: 1rem;
        border-radius: 50%;
        color: #fff;
        border: 1px double #fff;
        cursor: pointer;
        font-size: 1.2rem;
    }
    
    #replay-parental i:hover{
        background-color: #ffffff27;
        transition: all .3s ease;
    }

    .filmes {
        margin-top: 4rem;
        padding-top: 2rem;
    }

    .slider {
        display: inline-flex;
        margin-left: 2vw;
    }

    .filmes-slider{
        width: 45.35vw;
    }

    .controllers button i {
        font-size: 1.5rem;
    }

    footer{
        margin: 13rem auto 3rem;
        width: 93%;
    }

    footer .menu-footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    footer .social-media i{
        font-size: 2.5rem;
    }

    footer .menu-footer a {
        font-size: 1.6rem;
    }


    @keyframes title-hero {
        100%{
            font-size: 5rem;
            transform: translate3d(0, 3rem, 0);
        }
    }

    @keyframes p-hero {
        100%{
            transform: translate3d(0, 6rem, 0);
            transform-origin: left;
            opacity: 0;
        }
    }


}

@media (min-width: 800px) and (max-width: 1200px){

    .main-menu li a{
        font-size: 1rem;
        color: #fff;
    }

    html{
        font-size: .7rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    p {
        padding: 1rem 0;
        font-size: 1.3rem;
    }

    .col-4 {
        width: 100%;
    }
    
    .btn {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }
    
    #hero {
        background: var(--color-dark);
        background-size: cover;
        min-height: 50vh;
        margin-top: -4rem;
    }
    
    #hero i {
        font-size: 1.2rem;
    }

    #hero .row {
        height: initial;
        position: relative;
        height: 100vh;
    }

    #hero .row .hero-container {
        position: absolute;
        bottom: 10rem;
    }

    #menu h1 > a::after {
        width: 7.25rem;
    }

    #hero .title-hero-start {
        font-size: 10rem;
        animation: title-hero 1s ease-in-out 5s;
    }
    
    #hero .title-hero-end {
        font-size: 6rem;
        transform: translate3d(0, 3rem, 0);
    }

    #hero .trailer {
        width: 150%;
        margin-top: -10rem;
        margin-left: -25%;
    }

    #replay-parental {
        bottom: 0;
        margin-right: 1rem;
    }

    #replay-parental button i {
        padding: 0.5rem;
        font-size: 1rem;
    }

    #replay-parental p {
        padding: 0 6rem .0 0.7rem;
        font-size: 1rem;
    }

    .filmes {
        margin-top: -9rem;
        padding-top: 2rem;
    }

    .slider {
        display: inline-flex;
        margin-left: 2vw;
    }

    .filmes-slider{
        width: 22.3vw;
    }

    .controllers button i {
        font-size: 1.5rem;
    }

    @keyframes title-hero {
        100%{
            font-size: 6rem;
            transform: translate3d(0, 3rem, 0);
        }
    }

    @keyframes p-hero {
        100%{
            transform: translate3d(0, 6rem, 0);
            transform-origin: left;
            opacity: 0;
        }
    }

}