@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --color-dark: #141414;
    --black-transp-1: #0000008c;
    --black-transp-2: #000000a9;
    --black-transp-3: #777777a4;
}

html{
    font-family: 'Helvetica Neue', 'Segoe UI', Roboto, Ubuntu, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

body{
    font-size: 1.6rem;
    background-color: var(--color-dark);
    color: #fff;
}

p{
    padding: 2rem 0;
}

i{
    font-size: 2rem;
}

a{
    color:#fff;
}

img{
    border-radius: 0.25rem;
}

.d-block{
    display: block !important;
}

.d-none{
    display: none !important;
}

.container{
    width: 94%;
    margin: 0 auto;
}

.col-4{
    width: 33.3%;
}

.btn{
    font-family: 'Helvetica Neue', 'Segoe UI', Roboto, Ubuntu, sans-serif;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    outline: none;
    border: none;
    margin-right: 1rem;
}

.btn:hover{
    opacity: 0.8;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

.btn-light{
    color: #000;
    background-color: #fff;
}

.btn-dark{
    color: #fff;
    background-color: var(--black-transp-3);
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: linear-gradient(180deg,  var(--color-dark),  rgba(0, 0, 0, 0));
    transition: background 1s ease;
}

.header-scrolled{
    background-color: var(--color-dark);
    transition: background .5s ease;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

#menu{
    display: flex;
    align-items: center;
}

#menu{
    display: flex;
    align-items: center;
}

#menu h1 a{
    color: #ffffff00;
}

#menu h1 > a::after{
    content: '';
    display: block;
    width: 9.25rem;
    height: 2.5rem;
    background-image: url(../img/netflix-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.navegar{
    display: none;
    font-size: 1.3rem;
    position: relative;
}

.navegar::after{
    content: '';
    border-color: #fff transparent transparent;
    border-width: .4rem .4rem 0;
    border-style: solid;
    display: block;
    width: .1rem;
    height: auto;
    position: absolute;
    left: 6rem;
    top: .8rem;
}

.main-menu, .navegar{
    margin-left: 3rem;
}


.main-menu li{
    display: inline-block;
    margin-left: 1rem;
}

.main-menu li a{
    font-size: 1.3rem;
    color: #fff;
}

#search-account{
    display: flex;
    align-items: center;
    margin-right: 4rem;
}

#search-account > div{
    margin-left: 2.5rem;
}

#search-account > div:hover{
    cursor: pointer;
}

.input-search{
    display: none;
}

#account{
    position: relative;
}

#account::after{
    content: '';
    border-color: #fff transparent transparent;
    border-width: .4rem .4rem 0;
    border-style: solid;
    display: block;
    width: .1rem;
    height: auto;
    position: absolute;
    left: 4.5rem;
    top: 1.2rem;
    transform-origin: center;
    transition: transform .3s ease-in-out;
}

#account:hover::after{
    transform: rotate(180deg);
}

#account-menu{
    display: none;
    background-color: var(--color-dark);
    border: 1px solid #ffffff27;
    padding: 2rem 1rem 1rem;
    position: absolute;
    right: -3rem;
    top: 5rem;
    min-width: 20rem;
    transition: display 2s ease-in-out;
}

#account-menu li{
    padding-bottom: .5rem;
    display: flex;
    align-items: center;
}

#account-menu a{
    font-size: 1.2rem;
    margin-left: 1rem;
}

#account-menu i{
    font-size: 2.2rem;
    color: #ffffff50;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#account-menu::before{
    content: '';
    border-color: #fff transparent transparent;
    border-width: .4rem .4rem 0;
    border-style: solid;
    display: block;
    width: .1rem;
    height: auto;
    position: absolute;
    right: 4rem;
    top: -1.5rem;
    padding-top: 1rem;
    transform: rotateX(180deg);
}

#account-menu i{
    font-size: 2.2rem;
    color: #ffffff50;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#account-menu li:last-child{
    border-top: 1px solid #ffffff27;
    justify-content: center;
    padding-top: 1rem;
}

#account:hover #account-menu{
    display: block;
}

#hero{
    background: var(--color-dark) url(../img/cover.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

#hero .trailer-wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

#hero .trailer{
    width: 150%;
    height: auto;
    margin-top: -20rem;
    margin-left: -25%;
    opacity: 1;
    transition: opacity 1s ease;
}

#hero .trailer-hide{
    opacity: 0;
    transition: opacity 1s ease;
}

#hero .row{
    display: flex;
    align-items: center;
    height: 100vh;
}

#hero .row .hero-container{
    position: absolute;
    bottom: 25vh;
}

#hero .row .hero-container a{
    display: inline-block;
}

#hero .row .hero-container button{
    display: flex;
    align-items: center;
    justify-items: center;
}

#hero .row .hero-container i{
    margin-right: 1rem;
}

#hero .title-hero-start{
    font-size: 12rem;
    animation: title-hero 1s ease-in-out 5s;
}

#hero .title-hero-end{
    font-size: 5rem;
    transform: translate3d(0, 6rem, 0);
}

#hero .sinopese{
    opacity: 1;
    animation: p-hero 1s ease-in-out 5s;
}

#hero .p-hero-end{
    transform: translate3d(0, 6rem, 0);
    transform-origin: left;
    visibility: hidden;
}

#replay-parental{
    position: absolute;
    bottom: 25vh;
    right: 0;
    display: flex;
}

#replay-parental p{
    padding: 0 6rem .0 .7rem;
    background-color: var(--black-transp-1);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    border-left: 3px solid #fff;
}

#replay-parental span{
    padding: .5rem;
    margin-left: .5rem;
    border-radius: .25rem;
    background-color: red;
}

#replay-parental button{
    margin-right: 2rem;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

#replay-parental .replay{
    display: none;
}

#replay-parental button i{
    padding: 1rem;
    border-radius: 50%;
    color: #fff;
    border: 1px double #fff;
    cursor: pointer;
    font-size: 1.2rem;
}

#replay-parental i:hover{
    background-color: #ffffff27;
    transition: all .3s ease;
}

@keyframes title-hero {
    100%{
        font-size: 5rem;
        transform: translate3d(0, 6rem, 0);
    }
}

@keyframes p-hero {
    100%{
        transform: translate3d(0, 6rem, 0);
        transform-origin: left;
        opacity: 0;
    }
}









@media (max-width: 884px){
    .navegar{
        display: block;
        cursor: pointer;
    }

    .main-menu{
        display: none;
        flex-direction: column;
        text-align: center;
        width: 30rem;
        z-index: 2;
        position: absolute;
        top: 8rem;
        border-top: 1px solid #fff;
        transition: all 3s ease 3s;
    }

    .main-menu li{
        padding: 1rem;
        margin-left: 0;
        background-color: var(--black-transp-2);
    }

    .main-menu li:hover{
        background-color: var(--black-transp-1);
        cursor: pointer;
    }
    
    .main-menu li a{
        font-size: 1.15rem;
        color: #fff;
    }

    .main-menu::before{
        content: '';
        border-color: #fff transparent transparent;
        border-width: .4rem .4rem 0;
        border-style: solid;
        display: block;
        width: .1rem;
        height: auto;
        position: absolute;
        left: 14.5rem;
        top: -1.5rem;
        padding-top: 1rem;
        transform: rotateX(180deg);
    }
}

@media (max-width: 1200px){
    .main-menu li a{
        font-size: 1.15rem;
        color: #fff;
    }
}